# Tutorial 3: Data Cleaning

We have learned many useful Pandas functions in the previous tutorials. The learning goalas of this tutorial are as follows:

- Identiy and Address Data Quality Issues: Detect missing values, duplicate entries and other inconsistencies in real-world datasets
- Apply Data Cleaning Techniques in Python to address various inconsistencies

# Getting Started: Loading the IMDB Movie Dataset

Let's load the IMDB Movie Dataset

In [ ]:
import pandas as pd

movies_df = pd.read_csv("https://raw.githubusercontent.com/rnanda17/data_science_BE/refs/heads/main/IMDB-Movie-Data.csv", index_col=0)

In [ ]:
movies_df.head(5)

# Finding Missing Values

In the previous tutorials, you might have noticed that some values in our dataset were NaN (Not a Number). This is a special value that Pandas uses to indicate that a value is missing.

We can systematically check for missing values in a DataFrame using the `isna()` function. This function returns a DataFrame of the same size as the original, but with boolean values. A value is `True` if the original value was NaN, and `False` otherwise.

Let's see how it works in practice. Please refer to the documentation (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) of the `isna()` function and apply it on the `movies_df` dataframe. Can you intepret the results?

In [ ]:
movies_df.isna()

The function works on a row-level. You will see its difficult to interpret the results. 


    The output is large (1000 rows Ã— 11 columns).

    To find out which columns have missing values, you'd have to manually scan the entire table.



We can aggregate the results to check which columns have missing values.

How do we aggregate the results?

### `any()`

`any()` returns True for a column if any value in that column is missing. So now use the `any()` function with the `isna()` function to find out which columns of `movies_df` have missing values.

In [ ]:
#write your code here

Which columns have missing values?

### `sum()`

The `sum()` function returns the sum of all the values. For boolean values, `True` is treated as `1` and `False` as `0`. So we can use `sum()` to count the number of `True` values. So how many missing values are there in each column?

In [ ]:
#write your code here

# Handling Missing Values

We have seen that there are missing values in our dataset. But how do we deal with them?

It is important to think about what a *missing value* means in the context of our dataset. For instance, if a Metascore is missing, it could mean that the movie was not rated by the Metacritic website.  If a Revenue value is missing, it could mean that the movie was not released yet or simply that the information is not available.

With that in mind, we have two main options to handle missing values: removing or filling them. 

The best one depends on the situation and on the dataset.

### Option 1: Remove the rows with missing values

We can assume that if a value is missing, the entire row is not useful for our analysis. For example, if we are calculating the average Metascore per genre and a movie is missing its Metascore, it makes sense to exclude that movie from the calculation.

We can remove the rows with missing values using the `dropna()` function.

`dropna()` has a `how` parameter that can be set to `any` or `all`. The default value is `any`, which means that a row will be removed if any of its values are missing. If we set it to `all`, a row will be removed only if all of its values are missing.

Let's try it out and remove all the rows with any missing values.

In [ ]:
movies_df.dropna(how="any")

We can also remove all rows with missing values in specific columns. For that, we can use the `subset` parameter and pass a list of column names.

Let's remove all rows with missing values in the `Revenue (Millions)` column.

In [ ]:
movies_df.dropna(subset=["Revenue (Millions)"], how="any")

Remember that unless we set `inplace=True`, we are not modifying the original DataFrame. So we either need to assign the result to a new variable or set `inplace=True`.

### Option 2: Fill the missing values

Another option is to fill the missing values with some other value. This is useful if we want to keep all rows.

There are different ways to fill the missing values. We can fill them with a constant value, or we can fill them with the mean, median or mode of the column.

Again, the best option depends on the situation and on the dataset.

The `fillna()` function can be used to fill the missing values. It has a `value` parameter that can be set to a constant value, or to a function that will be applied to the column.

We can apply it directly to a specific column.

Let's fill the missing values in the `Metascore` column with the mean value.

In [ ]:
mean_metascore = movies_df["Metascore"].mean()

In [ ]:
metascore_filled_mean = movies_df["Metascore"].fillna(mean_metascore)

#### Task: check the descriptive statistics of the `Metascore` column before and after filling the missing values. What happened?

Hint: You can use the `describe()` function to get the descriptive statistics (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

Check it again after filling the missing values with 0.

# Handling Duplicate Values

We can also check if there are duplicate values in our dataset. Duplicate values are rows that have the same values in all (or a subset of) columns.

If different rows have the exact same values in all columns, it is safe to assume they are duplicates. But if different rows have the same values in some columns, it is not clear if they are duplicates or not. For instance, if two movies have the same title, they could still be different. However, in our dataset, this is very unlikely.

To check for duplicate values, we can use the `duplicated()` function. This function returns a Series of boolean values, with one value for each row. A value is `True` if the row is a duplicate, and `False` otherwise. It works very similarly to `isna()`.

Let's check if there are any duplicate values in our dataset.

In [ ]:
movies_df.duplicated().sum()

There are no duplicate values in our dataset. But let's test it for one column just to see how it works.

Let's check if there are any duplicate (Director, Year) pairs.

In [ ]:
movies_df.duplicated(subset=["Director", "Year"]).sum()

That means 13 rows have the same Director and Year as another row. Of course they are not duplicates, because they are different movies, so we don't need to remove them.

But in case we wanted to remove them, we could use the `drop_duplicates()` function.

It works very similarly to `dropna()`. We can use the `subset` parameter to specify which columns to consider when checking for duplicates.

If we had duplicates in our dataset, we could remove them like this:

In [ ]:
movies_df.drop_duplicates(subset=["Director", "Year"], keep="first")

The `keep` parameter can be set to `first` or `last`. If we set it to `first`, the first row will be kept and the rest will be removed. If we set it to `last`, the last row will be kept and the rest will be removed.

#  Data Inspection on a Crime Dataset

The dataset consists of observations from the year 1987 for the crime rate in North Carolina. The State consists of counties. The dataset is available here: https://raw.githubusercontent.com/rnanda17/data_science_BE/refs/heads/main/crime_1987.csv . The data is aggregated by county. A

The dataset has been taken from this paper (http://qed.econ.queensu.ca/jae/datasets/baltagi003/) by only selecting for the year 1987. 

A brief description of various variables in the dataset is presented below:

county

    county identifier
year

    year = 1987
crmrte

    crimes committed per person
prbarr

    'probability' of arrest
prbconv

    'probability' of conviction
prbpris

    'probability' of prison sentence
avgsen

    average sentence, days
polpc

    police per capita
density

    hundreds of people per square mile
taxpc

    tax revenue per capita
west

    'west' = 1, if region is west for the State 
    
central

    'central' = 1, if region is central for the State

urban

    'urban' = 1 if in SMSA (Standard Metropolitan Statistical Area)
    
pctmin80

    percentage minority in 1980
    
wcon

    weekly wage in construction
wtuc

    weekly wage in trns, util, commun
wtrd

    weekly wage in whole sales and retail trade
wfir

    weekly wage in finance, insurance and real estate
wser

    weekly wage in service industry
wmfg

    weekly wage in manufacturing
wfed

    weekly wage of federal employees
wsta

    weekly wage of state employees
wloc

    weekly wage of local governments employees
mix

    offense mix: face-to-face/other
pctymle

    percentage of young males



## ðŸ§© Exercise: Inspecting and Cleaning the Crime Dataset

### Task 1: Load the Dataset
Load the dataset as `df_crime`

### Task 2: Inspect Data Types
Use the `.info()` function to check the data types of each column

### Task 3: Examine Summary Statistics
Use the `.describe()` function to get the descriptive statistics of the dataset. Check the 
- The range of values in each column (identify any unusual minimum or maximum values)
- If any anomalies are found, how would you address them ?

### Task 4: Check for missing and duplicate values. Take appropriate action